.header-wrapper {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    var(--white-opasity30),
    var(--white-opasity70)
  );
  padding-bottom: 5px;
  padding-top: 8px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
button {
  background: var(--white-opasity70);
  outline: none;
  border: none;
  border-radius: 7px;
  margin: 0 5px;
  min-height: 25px;
  cursor: pointer;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.header-wrapper .lang {
  width: 100px;
  margin-bottom: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.sort-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-right: 20px;
}
.btn-group {
  width: 100%;
  display: flex;
}
.btn {
  width: 100%;
}
button .lang {
  width: 30px;
}

.sort {
  display: flex;
  width: 100%;
}
.type-wrapper {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.type {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  width: 100%;
}
.type-item {
  height: 100%;
  width: 100%;
}
.active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

@media (max-width: 599px) {
  button {
    margin: 1px auto;
    border-radius: 3px;
    margin: 0 3px;
    font-size: 8px;
  }
  .sort-header {
    margin-right: 5px;
  }
}
