.opacity {
  animation: bounce-in 0.5s;
}

.img {
  height: 50px;
  width: 50px;
}
.active {
  opacity: 1;
}

@keyframes bounce-in {
  0% {
    transform: opacity(0);
  }
  50% {
    transform: opacity(0.8);
  }
  100% {
    transform: opacity(1);
  }
}

.table-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    var(--white-opasity70),
    var(--white-opasity30)
  );
  border-radius: 3px;
  padding: 5px 15px;
  margin: 5px 0;
  font-size: 16px;
}
.star {
  cursor: pointer;
}

.phone {
  margin-right: 100px;
}

.age {
  margin-left: auto;
  margin-right: 100px;
}

.name {
  margin-left: 100px;
}

@media (max-width: 991px) {
  .phone {
    margin-right: 20px;
  }

  .age {
    margin-left: auto;
    margin-right: 20px;
  }

  .name {
    margin-left: 20px;
  }
}

@media (max-width: 599px) {
  .table-item {
    font-size: 10px;
  }
  .phone {
    margin-right: 5px;
  }

  .age {
    margin-left: auto;
    margin-right: 5px;
  }

  .name {
    margin-left: 5px;
  }
}

.imageAnime-enter-active {
  transition: all 0.5s;
}

.imageAnime-enter,
.imageAnime-leave-to {
  opacity: 0;
}
